# requirements.txt

# Core
pandas
numpy
Django

# Blockchain
web3
eth-utils 

# AI/ML
scikit-learn
TensorFlow
Keras

# Testing
pytest
pytest-mock
coverage

# Documentation
Sphinx
mkdocs
pycco

# Utilities
django-stubs
typing-extensions
python-dotenv

# Frontend
django-rest-framework
djangorestframework-simplejwt
djangorestframework-camel-case

# Security
django-cors-headers 
django-auth-ldap
django-oauth-toolkit

# Deploy
gunicorn
whitenoise
psycopg2-binary
django-heroku
